@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Victor+Mono:ital,wght@0,300;1,300&display=swap');

/*  
font-family: 'Roboto', sans-serif;
font-family: 'Victor Mono', monospace;
*/

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }  

#nav-bar-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#nav-bar-top a img{
    width: 15vw;
    height: auto;
}

#nav-bar-top ul{
    padding-left: 0;
}


#nav-bar-top ul li{
    display: flex;
    list-style: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#nav-bar-top ul li a{
    color: black;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.yellow-btn{
    background-color: #e6bd43;
    border: 1px solid #000000;
}

/*  
css for forside start 
*/

#compelling-headline-section figure {
    position: relative;
    margin: 0;
}

#compelling-headline-section img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.75; /* Endrer synligheten på bildet */
}

#compelling-headline-section figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Generert av chat gpt */
    text-align: center;
    color: #000;
    width: 80%;
}

#compelling-headline-section figcaption h1 {
    font-size: 4.5vw;
}

#compelling-headline-section figcaption p {
    margin-bottom: 20px;
    font-size: 2.5vw;
}

#compelling-headline-section figcaption a {
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 800;
    border: 1px solid #000;
    padding: 1.5vw;
    color: #000;
    background-color: #e6bd43;
}

#sub-heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

h2{
    font-size: 3.5vw;
}

p{
    font-size: 2.5vw;
}

#about-our-comp-forside{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e6bd43;
    padding: 10vw;
}

#about-our-comp-forside figure{
    margin: 0;
}

#about-our-comp-forside figure img{
    width: 80%;
    height: auto;
}

#about-our-comp-forside article a{
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 800;
    border: 1px solid #000;
    padding: 1.5vw;
    color: #000;
    background-color: #e6bd43;
}

#our-services-forside{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

h3{
    font-size: 3vw;
    font-weight: 600;
}

#our-services-forside article{
    margin: 1rem;
}



#footer2{
    background-color: #252525;
}

#copyrigths{
    color: #fff;
}

#footer2 figure a img{
    width: 35vw;
    height: auto;
    border-radius: 100px;
}

#footer2 ul li{
    color: #fff;
    display: inline;
    list-style: none;
}

#footer1{
    background-color: #dee2e691;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email{
    padding: 10px;
    font-size: 3vw;
    border: 1px solid #000;
}

#sign-me-up{
    padding: 10px;
    background-color: #e6bd43;
    border: 1px solid #000;
    font-weight: 600;
}

/*  
css for forside slutt 
*/

#portfolio-section figure{
    position: relative;
    margin: 0;
}

#portfolio-section img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.75; /* Endrer synligheten på bildet */
}

#portfolio-section figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Generert av chat gpt */
    text-align: center;
    color: #000;
    width: 80%;
}

#portfolio-section figcaption h1 {
    font-size: 4.5vw;
}

#previous-jobs{
    margin: 2rem;
}

#previous-jobs h2{
    border-bottom: 1px solid #e6bd43;
    padding: 10px;
}

#previous-jobs {
    width: 100%;
}

#previous-jobs ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

#previous-jobs ul li {
    margin: 10px;
    justify-content: space-between;
}

#previous-jobs ul li a {
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    padding: 10px;
    font-size: 2.5vw;
}


.default-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 2rem;
}

.default-flex h2{
    flex-basis: 100%;
    padding: 10px;
    border-bottom: 1px solid #e6bd43;
}

.default-flex figure figcaption{
    font-weight: 600;
}

/*  
css for desktop 
*/

@media only screen and (min-width:600px){
    #compelling-headline-pic{
        display: none;
    }

    #our-services-forside article i{
        display: none;
    }
    
}

/*  
css for mobil 
*/
@media only screen and (max-width:600px){
    #copyrigths{
        display: none;
    }

    #icons-footer{
        display: none;
    }

    #footer2 figure a img{
        margin: 5rem ;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    #footer2 figure{
        margin-top: 0;
        margin-bottom: 0;
    }

}