@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Victor+Mono:ital,wght@0,300;1,300&display=swap');

/*  
font-family: 'Roboto', sans-serif;
font-family: 'Victor Mono', monospace;
*/

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }  

#nav-bar-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#nav-bar-top a img{
    width: 15vw;
    height: auto;
}

#nav-bar-top ul{
    padding-left: 0;
}


#nav-bar-top ul li{
    display: flex;
    list-style: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#nav-bar-top ul li a{
    color: black;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.yellow-btn{
    background-color: #e6bd43;
    border: 1px solid #000000;
    color: #000;
    text-decoration: none;
}

/*  
css for forside start 
*/

#compelling-headline-section figure{
    position: relative;
    margin: 0;
}

#compelling-headline-section img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.75; /* Endrer synligheten på bildet */
}

#compelling-headline-section figcaption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Generert av chat gpt */
    text-align: center;
    color: #000;
    width: 80%;
}

#compelling-headline-section figcaption h1{
    font-size: 4.5vw;
    margin: 0.5rem;  
}

#compelling-headline-section figcaption p{
    margin: 1rem 4rem;
    font-size: 2.5vw;
}

#compelling-headline-section figcaption a {
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 800;
    border: 1px solid #000;
    padding: 1.5vw;
    color: #000;
    background-color: #e6bd43;
}


#sub-heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    margin: 1rem 4rem;
}

h2{
    font-size: 3.5vw;
}

p{
    font-size: 2.5vw;
}

#about-our-comp-forside{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e6bd43;
    padding: 10vw;
}

#about-our-comp-forside figure{
    margin: 0;
}

#about-our-comp-forside figure img{
    width: 80%;
    height: auto;
}

#about-our-comp-forside article a{
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 800;
    border: 1px solid #000;
    padding: 1.5vw;
    color: #000;
}

#our-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 4rem;
}

h3{
    font-size: 3vw;
    font-weight: 600;
}

#our-services ul{
    padding-left: 0 ;
    gap: 8rem;
} 

#our-services ul li{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

#our-services ul li a{
    color: #000;
    text-decoration: none;
}

#our-services ul li i{
    color: #000;
    font-size: 1.5rem;
}


#footer2{
    background-color: #252525;
}

#copyrigths{
    color: #fff;
}

#footer2 figure a img{
    width: 35vw;
    height: auto;
    border-radius: 100px;
}

#footer2 ul li{
    color: #fff;
    display: inline;
    list-style: none;
}

#icons-footer li i{
    font-size: 4rem; /*Endrer størelsen på ikonene*/
}

#footer1{
    background-color: #dee2e691;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#email{
    padding: 10px;
    font-size: 2vw;
    border: 1px solid #000;
}

#sign-me-up{
    padding: 10px;
    background-color: #e6bd43;
    border: 1px solid #000;
    font-size: 2vw;
    font-weight: 600;
}

#portfolio-section figure{
    position: relative;
    margin: 0;
}

#portfolio-section img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.75; /* Endrer synligheten på bildet */
}

#portfolio-section figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Generert av chat gpt */
    text-align: center;
    color: #000;
    width: 80%;
}

#portfolio-section figcaption h1 {
    font-size: 4.5vw;
}

#previous-jobs{
    margin: 2rem;
}

#previous-jobs h2{
    border-bottom: 1px solid #e6bd43;
    padding: 10px;
}

#previous-jobs {
    width: 100%;
}

#previous-jobs ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

#previous-jobs ul li {
    margin: 10px;
    justify-content: space-between;
}

#previous-jobs ul li a {
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    padding: 10px;
    font-size: 2.5vw;
}


.bilde-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 2rem;
}

.bilde-flex h2{
    flex-basis: 100%;
    padding: 10px;
    border-bottom: 1px solid #e6bd43;
}

.bilde-flex figure figcaption{
    font-weight: 600;
}

.bilde-flex figure img{
    max-width: 350px;
    min-width: 200px;
}

#aoc figure{
    position: relative;
    margin: 0;
}

#aoc img {
    display: block;
    width: 100%;
    height: auto;
}

#aoc figcaption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Generert av chat gpt */
    text-align: left;
    color: #000;
    width: 80%;
    background-color: #fff;
    opacity: 0.75;
    padding: 2rem;
}

#aoc figcaption h1{
    font-size: 4.5vw;
    margin: 0.5rem;  
}

#aoc figcaption p{
    margin: 1rem 4rem;
    font-size: 2vw;
    margin: 0.5rem;
    margin-bottom: 1rem;
}

#aoc figcaption h4{
    margin: 0.5rem;
    font-size: 2vw;
}

#aoc figcaption a {
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 800;
    border: 1px solid #000;
    padding: 1.5vw;
    color: #000;
    background-color: #e6bd43;
}

#some-clients{
    background-color: #e6bd43;
}

#some-clients h2{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

#some-clients ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 2rem;
    margin: 0rem 5rem;
}

#some-clients ul li img{
    height: auto;
    width: 20vw;
}

#footer3 iframe{
    height: 300px;
    width: 100%;
}

#contact-form{
    display: grid;
    background-color: #dee2e6;
}

#contact-form h2{
    grid-row: 1 / 2;
    grid-column: 1/ 3;
    display: flex;
    justify-content: center;
}

#form{
    margin: 2rem;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 40vw;
}

#form form{
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 1rem;
}

#message{
    height: 8rem;
}

#knapp-send{
    width: 8rem;
}

#info-form{
    margin: 2rem;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 40vw;
}

#info-form ul{
    list-style: none;    
    padding: 0;
}

#info-form ul li{
    margin: 1rem 0;
}

/*  
css for desktop 
*/

@media only screen and (min-width:600px){
    
    #aoc figcaption p{
        margin-bottom: 2.5rem;
    }

    #about-our-comp-forside{
        background-color: #fff;
        display: grid;
        gap: 1rem;
        border: solid 1px #000;
        margin: 1vw;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    #figure-grid{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 40vw;
    }

    #article-grid{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
    }

    #article-grid a{
        background-color: #fff;
    }

    #our-services ul li i{
        display: none;
    }

    #our-services ul{
        display: flex;
        flex-wrap: wrap;
        gap: 8rem;
        justify-content: center;
    }

    #our-services ul li{
        max-width: 200px;
    }

    #our-services ul li a{
    font-size: 3vw;
    font-weight: 600;
    }

    #footer2{
        display: grid;
        justify-content: space-around;
        padding: 2rem;      
    }

    #footer2 figure{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #footer2 figure a img{
        max-width: 100px;
    }

    #footer2 h3{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 2rem;
    }

    #footer2 ul{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-left: 0;
        display: flex;
        flex-direction: row;
    }

    #footer2 ul li a i{
        padding: 1rem;
        text-decoration: none;
        color: #fff;
    }
}

/*  
css for mobil 
*/
@media only screen and (max-width:600px){
    #copyrigths{
        display: none;
    }

    #icons-footer{
        display: none;
    }

    #footer2 figure a img{
        margin: 5rem ;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    #footer2 figure{
        margin-top: 0;
        margin-bottom: 0;
    }

    #contact-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}